/**
 * Plugin styles
 */

.dynamic-height-wrap {
  overflow: hidden;
  position: relative;
  -webkit-transition: max-height 0.25s ease-in-out;
  -moz-transition: max-height 0.25s ease-in-out;
  -o-transition: max-height 0.25s ease-in-out;
  transition: max-height 0.25s ease-in-out;
  width: 100%;
}

/* Bottom gradient (optional, but recommended)*/
.dynamic-height-active .dynamic-height-wrap:before {
  background: -moz-linear-gradient(top,  rgba(240,249,255,0) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,249,255,0)), color-stop(100%,rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top,  rgba(240,249,255,0) 0%,rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top,  rgba(240,249,255,0) 0%,rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top,  rgba(240,249,255,0) 0%,rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom,  rgba(240,249,255,0) 0%,rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f0f9ff', endColorstr='#ffffff',GradientType=0 );
  bottom: 0;
  content:'';
  height: 30px;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 1;
}

.dynamic-height-active .dynamic-show-more {
  display: inline-block;
}
.dynamic-show-more {
  display: none;
}


/**
 * Demo styles
 */

* {
  box-sizing: border-box;
  margin: 0; 
  padding: 0;
}

body {
    color: #2c3e50;
    font-family: 'Helvetica Neue','sans-serif', Arial;
    line-height: 1.5em;
    margin: 30px auto;
    max-width: 800px;
    padding: 0 20px;
}

a {
  color:#2980b9;
}

h1 {
  font-size: 28px;
  margin-bottom: 1em;
  line-height: 1.3em;
}

h1 span {
  color: #b0b0b0;
  font-size: .8em;
  font-weight: normal;
}

.section {
  margin-bottom: 30px;
}
pre {
  background: #ecf0f1;
  border-radius: 4px;
  margin: 10px 0;
  padding: 5px 10px;
}

.button {
  color: #fff;
  background: #27ae60;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  outline: none;
  padding: 10px 20px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}
button.button{
  background:#2980b9;
}

li {
  list-style: none;
  margin-top: 20px;
}

li strong {
  color: #27ae60;
}

.dynamic-height-wrap {
  margin-bottom: 20px;
}

.buttons-wrap{
  display: flex;
  margin-top: 20px;
}

.button {
  flex: 1;
  text-align:center;
  text-decoration: none;
}

.button + .button{
  margin-left:10px;
}

