body{
    font-family: 'sans-serif',Arial;
    line-height:1.5em;
    padding:20px;
}
a{
  color:#3498db;
}

* {
    margin:0; 
    padding:0;
    /*box-sizing:border-box;*/
}
h1{
  margin-bottom:1em;
}
h1 span{
  color: #b0b0b0;
  font-weight:normal;
  font-size:.8em;
}
.container{
  max-width:800px;
  padding:0 20px;
  margin:30px auto;
}


.dynamic-wrap {
  transition: max-height 0.25s ease-in-out;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.height-active .dynamic-wrap:before{
    content:'';
    position:absolute;
    left: 0px;
    right:0;
    bottom:0;
    height:30px;
    background: -moz-linear-gradient(top,  rgba(240,249,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,249,255,0)), color-stop(100%,rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top,  rgba(240,249,255,0) 0%,rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top,  rgba(240,249,255,0) 0%,rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top,  rgba(240,249,255,0) 0%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom,  rgba(240,249,255,0) 0%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f0f9ff', endColorstr='#ffffff',GradientType=0 );
    z-index:1;
  }

  
.dynamic-max-height.height-active .dynamic-show-more {
  display: inline-block;
}
.dynamic-max-height .dynamic-show-more {
  display: none;
  margin-top: 20px;
}


